
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  
    background-image: linear-gradient(115deg, rgba(248, 243, 255, 0.92) 0% , white 100%),url("../images/background-code.png"); 
    font-family: 'Jost', sans-serif;
    
}

header {
  width: 100vw;
  position: fixed;
  text-align: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


nav li{
    display: inline-block;
    margin-inline: 2rem;
}
nav img {
    width: 2.6vh;
    height: auto;
}

a { 
    color: black;
    font-size: 1.2rem;
}
a:link { 
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
}
a:hover {
    text-decoration: none; 
}
a:active {
    text-decoration: none;
}

.left {
  display: flex;
  position: absolute;
  height: 80vh;
}

.left img{
  height: 101px;
  align-self: flex-end;
  animation: shakeY 15s;
  --animate-repeat: 2;
}


main {
  margin-left: 25vh;
}

#home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  height: 100vh;
}

#home img {
  max-width: 40%;
  min-width: 20vh;
  margin-left: 10rem;
  height: auto;
}

.left__home {
  text-align: end;
}
.left__home h1 {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 6rem;
  font-family: 'Volkhov', serif;
  color: #5a349c;
  /* background: -webkit-linear-gradient(45deg, #00D1FF, #FFB884, #DF00F2); */
  animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.left__home h3 {
  font-size: 1.2rem;
  animation: zoomIn;
  animation-duration: 1s; /* don't forget to set a duration! */
  align-self: flex-end;
  color: black;
}

p {
    color: #A7A7A7;
    font-size: 1.6rem;
    margin: 6px;
}

#projects  {
  width: 100%;
  height: 100vh;
  padding: 5vh;
}


#projects p  {
  position: relative;
  top: -30px;
  text-align: center;
  animation: bounceInRight 2s;
}

#projects img  {
  max-width: 60%;
  animation: fadeIn;
  animation-duration: 2s; /* don't forget to set a duration! */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#projects img:hover  {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}
.projects-items {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.projects-items li {
    margin: 1rem;
    list-style: none;
}

.projects-item:hover {
    cursor: pointer;
}

.projects-item:active{
    animation: zoomOut 5s;
}

#description-item {
    position: relative;
    background-color: black;
    display: list-item;
}

h2 {
    text-align: center;
    font-size: 60px;
    color: black;
    animation: bounceIn 2s;

}


.title-area {
    text-align: center;
    font-size: 60px;
    color: black;
}

.title-area p {
    font-size: 25px;
    color: black;
}

#contact {
    height: 100vh;
    padding: 5%;
}

.contact-area {
    display: grid;
    margin: 5%;
    grid-template-columns: auto;
    grid-gap: 1rem 1rem;
    justify-items: center;
    position : relative;
}

.field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .field.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
  }

.textarea{
    width: 50%;
    height: 20vh;
    padding: 8px;
    margin: 4px;
}


.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


footer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color:#c8abfa;
}

footer li{
  display: inline-block;
  list-style: none;
  margin-right: 2rem;
}

footer p{
  font-size: .8rem;
  color: #5a349c;
  text-align: center; 
}

#footer {
}

@media (max-width: 900px) {
  html{
    font-size: 65%;
  }
  .projects-item {
    display: grid;
    width: 50vw;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  main {
    display: flex;
    margin-left: 0;
    padding: 5vh;
  }
  .left__home {
    text-align: center;
    margin-top: -30vh;
  }
  .right__home{
  order: -1;
  text-align: center;
  padding-right: 15vh;
  height: 100%;
  padding-top: 5vh;
  }
}

@media (max-width: 500px) {

  #projects {
    padding: 3vh;
  }
  
}